PWSHackathonClient/Service References/PSW_Service/PWSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64972/PWSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" />
  <xs:element name="GetAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="GetAddressResult" nillable="true" type="q1:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="address" nillable="true" type="q2:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="CreateAddressResult" nillable="true" type="q3:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="address" nillable="true" type="q4:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="DeleteAddressResult" nillable="true" type="q5:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="address" nillable="true" type="q6:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="UpdateAddressResult" nillable="true" type="q7:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAddresses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="GetAllAddressesResult" nillable="true" type="q8:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesByRiskAssessment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="riskAssessmentSupplyRef" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesByRiskAssessmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="GetAddressesByRiskAssessmentResult" nillable="true" type="q9:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRiskAssessment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supplyReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRiskAssessmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="GetRiskAssessmentResult" nillable="true" type="q10:RiskAssessment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRiskAssessment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="riskAssessment" nillable="true" type="q11:RiskAssessment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRiskAssessmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="CreateRiskAssessmentResult" nillable="true" type="q12:RiskAssessment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRiskAssessment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="riskAssessment" nillable="true" type="q13:RiskAssessment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRiskAssessmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="DeleteRiskAssessmentResult" nillable="true" type="q14:RiskAssessment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRiskAssessment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="riskAssessment" nillable="true" type="q15:RiskAssessment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRiskAssessmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="UpdateRiskAssessmentResult" nillable="true" type="q16:RiskAssessment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRiskAssessments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRiskAssessmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="GetAllRiskAssessmentsResult" nillable="true" type="q17:ArrayOfRiskAssessment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBlankRisks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="riskAssessmentSupplyReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBlankRisksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="CreateBlankRisksResult" nillable="true" type="q18:ArrayOfRiskQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRiskQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="riskQuestion" nillable="true" type="q19:RiskQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRiskQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="UpdateRiskQuestionResult" nillable="true" type="q20:RiskQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRiskQuestionsForRiskAssessment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="riskAssessmentSupplierRefId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRiskQuestionsForRiskAssessmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" minOccurs="0" name="GetRiskQuestionsForRiskAssessmentResult" nillable="true" type="q21:ArrayOfRiskQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>