PWSHackathonClient/Service References/PSW_Service/PWSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PWSHackathonWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskAssessmentSupplyRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelephoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="RiskAssessment">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LocalAuthority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplyReference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RiskAssessment" nillable="true" type="tns:RiskAssessment" />
  <xs:complexType name="ArrayOfRiskAssessment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RiskAssessment" nillable="true" type="tns:RiskAssessment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRiskAssessment" nillable="true" type="tns:ArrayOfRiskAssessment" />
  <xs:complexType name="ArrayOfRiskQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RiskQuestion" nillable="true" type="tns:RiskQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRiskQuestion" nillable="true" type="tns:ArrayOfRiskQuestion" />
  <xs:complexType name="RiskQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHazard" type="xs:boolean" />
      <xs:element minOccurs="0" name="Likelihood" type="xs:int" />
      <xs:element minOccurs="0" name="Response" type="xs:int" />
      <xs:element minOccurs="0" name="RiskAssessmentSupplyReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Severity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RiskQuestion" nillable="true" type="tns:RiskQuestion" />
</xs:schema>